
body {
    background-color: black ;
    background-image: url("../images/prism.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#add-topic {
    padding: 10px;
    display: block;
    position: relative;
}

.gifs {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 10px 0px;
  width: 90vw;
  margin: auto;
  animation: slide-up 0.4s ease;
  -webkit-animation: slide-up 0.4s ease;
}

img {
  width: 25vw;
  margin: 20px;
  height: 300px;
  border-radius: 4px;
  object-fit: cover;
  -webkit-box-shadow: 0px 32px 57px -14px rgba(0,0,0,1);
  -moz-box-shadow: 0px 32px 57px -14px rgba(0,0,0,1);
  box-shadow: 0px 32px 57px -14px rgba(0,0,0,1);
  margin: auto;
  transition: all 300ms;
}
img:hover {
  width: 28vw;
  height: 320px;
  position: relative;
  top: 0;
  left: 0;
  
}

.gifs__item { 
  position: relative;
  margin: auto;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  padding-bottom: 40px;
  animation: slide-up 0.4s ease;
  -webkit-animation: slide-up 1.7s ease;
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.gifs__rating {
  color:rgb(255, 255, 255, 0.7);
  position: absolute;
  left: 75%;
  bottom: 10%;
  font-family: sans-serif;
  font-weight: normal;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.gifs__message {
  font-family: sans-serif;
  font-weight: normal;
  padding: 10px;
  font-size: 50px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  color:rgb(255, 255, 255, 0.7);
  margin: auto;

}
.search {
  display: flex;
  width: 90vw;
  margin:auto;
}

.search__input {
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  border: 1px solid rgba(255,255,255,.6);
  font-family: sans-serif;
  font-weight: normal;
  padding: 10px;
  font-size: 15px;
  display: block;
  text-align: center;
  border-radius: 4px 0 0 4px;
  border-right:none;
  color: rgba(255,255,255,.6);
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px;
  background: rgba(255,255,255,0.1);
  letter-spacing: 1px;
  transition: all 600ms;
  -webkit-transition: all 600ms;
}

#search__button {
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  border: 1px solid rgba(255,255,255,.6);
  border-left: none;
  font-family: sans-serif;
  font-weight: normal;
  padding: 10px;
  font-size: 15px;
  display: block;
  text-align: center;
  border-radius: 0 4px 4px 0 !important;
  color: rgba(255,255,255,.6);
  text-decoration: none;
  margin-top: 10px;
  background: rgba(255,255,255,0);
  letter-spacing: 1px;
  transition: all 600ms;
  -webkit-transition: all 600ms;
}
#search__button:hover {
  background: rgba(0,0,0,.5);
  color: white;
  border-color: rgba(0,0,0,1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 1px 1px rgba(0,0,0,.2);
  font-weight: normal;
  letter-spacing: 2px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin:40px auto 0;
}

.button__subject {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    border: 1px solid rgba(255,255,255,.6);
    font-family: sans-serif;
    font-weight: normal;
    padding: 10px;
    font-size: 15px;
    display: block;
    text-align: center;
    border-radius: 4px;
    color: rgba(255,255,255,.6);
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
    background: rgba(255,255,255,0);
    letter-spacing: 1px;
    transition: all 600ms;
    -webkit-transition: all 600ms;
  }
  .button__subject:hover {
    background: rgba(0,0,0,.5);
    color: white;
    border-color: rgba(0,0,0,1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 1px 1px rgba(0,0,0,.2);
    font-weight: normal;
    letter-spacing: 2px;
  }
  .button__subject:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.2);
  }
  
.header {
    width: 100vw;
    margin: auto;
    background-image: linear-gradient(to bottom,rgb(106, 77, 138, 0.7),
    rgb(106, 77, 138, 0.5),rgb(106, 77, 138, 0));
  }

.header__title{
  display: inline;
  position: relative;
  font: 200px Helvetica, Sans-serif;
  letter-spacing: -5px;
  color:  rgba(230, 100, 154, 0.5);
  padding-left: 20px;

}
  .header__title::after {
    padding-left: 20px;
    content: "GifTastic";
    position: absolute; 
    left: 10px; 
    top: 5px;
    color:rgba(110, 250, 91, 0.5)
  }
