.topic, #add-gif {
    background-color: red;
    color: white;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
}

body {
    background-color: whitesmoke ;
}

#buttons {
    float: left;
}

#add-topic {
    padding: 10px;
    float: right;
    display: block;
    position: relative;
}

#gif-display {
    clear: both;
    padding: 10px;
}

.gif-list { 
    float: left;
    margin: auto;
    display: block;
}

img {
    display: block;
    width: 300px;
    margin: 20px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}